<!--https://www.slant.co/topics/389/~best-node-js-web-frameworks-->

<div class="Page-Content">


  <h1 class="QuestionHeader-Title" itemprop="name">
    <span class="_question-link">Inregistrare cursuri IT</span>
  </h1>
  <div class="Contributors-StatContainer QuestionHeader-ContributorStats">
    <div class="Contributors-StatBar">
      <div class="Contributors-Stat">
        <div class="Contributors-Stat-Value">#<span class="Contributors-Stat-Unit"></span></div>
        <div class="Contributors-Stat-Label">Front-end</div>
      </div>
      <div class="Contributors-Stat hide-minimum">
        <div class="Contributors-Stat-Value">#<span class="Contributors-Stat-Unit"></span></div>
        <div class="Contributors-Stat-Label">Back-end</div>
      </div>
      <div class="Contributors-Stat">
        <div class="Contributors-Stat-Value">
          <div class="Contributors-Stat-Value">#<span class="Contributors-Stat-Unit"></span></div>
          <meta class="_created-datetime" itemprop="datePublished" content="2013-02-28T00:37:07.000Z">
        </div>

        <div class="Contributors-Stat-Label">DevOps</div>
      </div>
    </div>
  </div>

</div>

<hr/>
<div class="CardList-Container">

  <div class="container">
    <div class="col-md-8">
      <div class="row">
        <span class="full center-block title center">Full Stack Developer</span>
        </div>
      <div class="row">
        <div class="list-group">
          <div class="list-group-item title center">Sfaturi</div>
          <div class="list-group-item">Completeaza rubrica 'Sondaj'</div>
          <div class="list-group-item">Analizeaza cursurile</div>
          <div class="list-group-item">Cere parerea unei persoane din domeniul IT daca aceste cursuri ar fi potrivite
            pentru tine
          </div>
          <div class="list-group-item">Scrie-ne sau contacteaza-ne pentru orice nelamuriri</div>
        </div>
      </div>

      <div class="row">
        <div class="register">
          <span class="center center-block bg-info info ">{{message}}</span>
          <button *ngIf="showRegisterButton" type="button" class="btn1 full center-block title center btn-success inregistrarebtn " (click)="registerToCourse()">Inregistare</button>
        </div>
      </div>


    </div>

    <div class="col-md-4">
      <div class="list-group">

        <div class="list-group-item title center">Avantaje</div>

        <div class="list-group-item list-group-item-action">
          <span>Comunicare zilnica</span>
          <div class="pull-right">
            <i class="fa fa-check check"></i>
          </div>
        </div>

        <div class="list-group-item list-group-item-action">
          <span>Exercitii zilnice</span>
          <div class="pull-right">
            <i class="fa fa-check check"></i>
          </div>
        </div>

        <div class="list-group-item list-group-item-action">
          <span>Lucru in echipa</span>
          <div class="pull-right">
            <i class="fa fa-check check"></i>
          </div>
        </div>

        <div class="list-group-item list-group-item-action">
          <span>Feedback periodic</span>
          <div class="pull-right">
            <i class="fa fa-check check"></i>
          </div>
        </div>

        <div class="list-group-item list-group-item-action">
          <span>Ajutorul grupului</span>
          <div class="pull-right">
            <i class="fa fa-check check"></i>
          </div>
        </div>

        <div class="list-group-item list-group-item-action">
          <span>Colaborare cu firme</span>
          <div class="pull-right">
            <i class="fa fa-check check"></i>
          </div>
        </div>

        <div class="list-group-item list-group-item-action">
          <span>Cursuri complete</span>
          <div class="pull-right">
            <i class="fa fa-check check"></i>
          </div>
        </div>

        <div class="list-group-item list-group-item-action">
          <span>Ajutor la angajare si dupa</span>
          <div class="pull-right">
            <i class="fa fa-check check"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
