
<div class="presentation main-slider1">
  <div class="content1">
    <div [@myAwesomeAnimation]='state'  class="slotholder1 presentation">
      <img class="pre-img" src="{{bkImageUrl}}" />
    </div>
    <div class="text visible-xs1 caption-mobile1">
      <div class="h1" style="color: #008ccb;">Increase Your Return on Investment</div>
      <div class="h2" style="color: #323a45;">Digital marketing can incrase your ROI significantly.</div>
      <app-typo></app-typo>
    </div>
  </div>
</div>
