
<div class="presentation main-slider1">
  <div class="content1">
    <div [@myAwesomeAnimation]='state'  class="slotholder1 presentation">
      <img class="pre-img" src="{{bkImageUrl}}" />
    </div>
    <div class="text visible-xs1 caption-mobile1">
      <div class="mh1">Cursuri programare Cluj</div>
      <!--<div class="mh2">De la incepator la avansat</div>-->

      <div class="mh2">Consultanta IT</div>
      <div class="mh2">Colaborare la realizarea proiectelor</div>
      <br/>
      <app-typo></app-typo>

      <div class="verif">
        <ul>
          <li>
            <div class="vwdesc1"> Ar ajuta sa vedem nivelul cunostintelor folosind linkul de mai jos.</div>
              <!--<i  class="vwdesc2">dureaza doar cateva minute</i>-->
          </li>
        </ul>
        <a class="vwdesc-" [routerLink]="['/survey']">Verificare cunostinte</a>
      </div>

    </div>


  </div>
</div>
