  <h2 class="b-clor mh1">Services We Provide</h2>
  <hr class="dark-line">

<div class="divider">
  <div class="swiper-container">
  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">

        <img class="imgslider" src="images/slider/javascript_200.png">
        <span>Javascript este limbajul principal ce se invata. Orice pagina web foloseste javascript. Javascript este singurul limbaj de programare web care este folosit si pe partea de Front-End si pe partea de Back-End.</span>
        <span>Fiindca poti sa folosesti JavaScript pe Front-End si poti crea aplicatii interactive pe site-ul tau, vei putea incepe imediat sa dai forma si sa adaugi un plus de interactivitate site-ului tau.JavaScript poate fi folosit pentru crearea unor site-uri extraordinare, si servere rapide</span>
      </div>
      <div class="swiper-slide">
        <div>
        <img class="imgslider" src="images/slider/algorithms_200.png">
        </div>
        <span>Algoritmica este esentiala pentru un programator.</span>
        <span>Se vor face in jur de 150 de exercitii </span>
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/nodejs.png">
        <span>Crearea unui server se va face folosind aceasta tehnologie</span>
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/mongodb.png">
        <span>mongo db este folosit pentru salvarea datelor in baza de date</span>
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/html.png">
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/css.png">
      </div>

      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/jq.png">
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/es6.png">
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/angular1.png">
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/testing.png">
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/mobile.png">
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/react.png">
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/docker.png">
      </div>
      <div class="swiper-slide">
        <img class="imgslider" src="images/slider/test_auto.png">
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</div>
</div>
