<h2 class="b-clor mh1-">Tehnologii</h2>
<hr class="dark-line">

<div class="divider">
  <div class="swiper-container">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/javascript_200.png"></div>

          <span>Javascript este limbajul principal ce se invata. Aproape toate paginile web folosesc javascript.
          Un mare avantaj este ca acest limbaj se poate folosii atat pe Front-End cat si pe Back-end
          </span>
        </div>
        <div class="swiper-slide">
          <div>
            <img class="imgslider" src="images/slider/algorithms_200.png">
          </div>
          <span>Algoritmica este esentiala pentru un programator.</span>
          <span>Se vor face in jur de 150 de exercitii pornind de la simplu la complex. </span>
          <span>De exemplu, pentru stabilirea valorii produselor dintr-un cos de cumparaturi se foloseste algoritmica.</span>
        </div>
        <div class="swiper-slide">
          <div>
            <img class="imgslider" src="images/slider/nodejs.png">
          </div>
          <span>Crearea unui server se va face folosind aceasta tehnologie. Are avantajul de a folosii aceeasi sintaxa ca si javascript. Este folosit pentru primirea comenzilor dintr-o pagina web, stocarea datelor intr-o baza de date, citirea, filtrarea acestora.</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/mongodb.png"></div>

          <span>Mongo db este un tip de baza de date care are avantajul de a pastra obiecte javascript, rapiditate, usor de invatat</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/html.png"></div>

          <span>Foarte multe persoane au auzit/folosit html. Html-ul reprezinta structura unei pagini web.
          Ideea de baza este de a prezenta cea mai usoara metoda de copiere a unui web site. Teoria este prezenta deasemenea
        </span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/css.png"></div>

          <span>CSS este folosit la aranjarea elementelor html intr-o pagina web; Se vor discuta principalele metode de utilizare a acestei tehnologii.
        </span>
        </div>

        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/jq.png"></div>

          <span>JQuery este folosit la manipularea elementelor intr-o pagina.
        </span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/es6.png"></div>

          <span>ES6 este noul standard pentru javascript</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/angular1.png"></div>
          <span>Angular 1 este printre primele frameworkuri de creare a paginilor web folosind SPA (Single Page Application). Este creat si mentinut de google</span>

        </div>

        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/angular1.png"></div>
          <span>Angular 2+ este o imbunatatire adusa primei versiuni de angular. Cei de la google au folosit typescript pentru realizarea acestui framework si ofera o mai buna modularizare decat versiunea precedenta</span>

        </div>

        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/testing.png"></div>
          <span>Testarea este folosita atat pentru front-end cat si pentru back-end. Se vor face exercitii atat de testare automata cat si testarea codului in paralel cu partea de development</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/mobile.png"></div>
          <span>Partea de dezvoltare aplicatii pentru mobile este acoperita folosind frameworkul ionic.</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/react.png"></div>
          <span>React este o librarie de creare a paginilor web creata de cei de la facebook. Pe piata muncii este o cerere mare atat pentru angular cat si pentru react</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/docker.png"></div>
          <span>Docker este folosit cand se doreste hostarea aplicatiilor pe un calculator. Se pot face aplicatii si fara aceste cunostinte insa e bine a fi prezentate.</span>
        </div>
        <div class="swiper-slide">
          <div><img class="imgslider" src="images/slider/test_auto.png"></div>
          <span>Testarea automata a unei aplicatii este acoperita prin utilizarea a webdriver.io si selenium. O persoana care se ocupa de testarea aplicatiilor ar fi bine sa stie aceste abordari</span>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </div>
</div>

<!--<hr class="dark-line">-->

