
<div class="container">

<div class="row">
<div class="col-md-4">

  d
</div>
<div class="col-md-4">
  <!---->
  <form class="form-signin mg-btm" #myForm="ngForm" (ngSubmit)="submitForm()">
    <div class="social-box">
      <div class="row mg-btm">
        <div class="col-md-12">
          <span class="btn btn-primary btn-block" (click)="loginWithFB()">
            <i class="icon-facebook"></i>    Login with Facebook</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-info btn-block" >
            <i class="icon-twitter"></i>    Login with Twitter
          </a>
        </div>
      </div>
    </div>
    <div class="main">

      <div class="form-group has-feedback has-feedback-left">
        <input type="text" class="form-control" placeholder="Username" name="username" required="required"
               aria-required="true" aria-invalid="true">
        <div class="form-control-feedback">
          <i class="icon-user text-muted"></i>
        </div>
        <label id="username-error" class="validation-error-label" for="username">Enter your username</label>
      </div>



      <div class="row">
        <label>Email:</label>
      </div>
        <input type="text" class="form-control" placeholder="Email" autofocus email required name="email" [(ngModel)]="email"
               (input)="validateEmail($event.target.value)" tooltip="Tooltip" placement="top">

      <div class="row">
        <span class="alert"  *ngIf="formErrors.email" >{{formErrors.email}}</span>
      </div>

      <div class="row">
        <label>Parola:</label>
      </div>
      <input type="password" class="form-control" placeholder="Password" required name="password" [(ngModel)]="password" (input)="validatePassword($event.target.value)">
      <div class="row">
        <span class="alert" *ngIf="formErrors.password" >{{formErrors.password}}</span>
        </div>
      <span class="clearfix"></span>
      <!--Are you a business? <a href=""> Get started here</a>-->
      <!--<span class="clearfix"></span>-->
    </div>
    <div class="login-footer">
      <div class="row">
        <div class="col-xs-7 col-md-7">
          <div class="left-section">
            <a href="#" (click)="gotoResetPassword()">Resetare parola?</a>
            <span class="clearfix"></span>
            <!--<a href="">Sign up now</a>-->
          </div>
        </div>
        <div class="col-xs-5 col-md-5 pull-right">
          <button type="submit" class="btn btn-large btn-danger pull-right">Login</button>
        </div>
      </div>

    </div>
  </form>
</div>

<div class="col-md-4">
</div>
</div>



</div>
