<!-- End Header -->
<!-- Section General Title -->
<div class="general-title bg-color">
  <h2>best developer home</h2>
  <div class="title-devider"></div>
</div>
<!-- Site Wrapper -->
<div class="site-wrapper">
  <!-- Who We Are -->
  <div class="container text-center1">
    <!-- Section General Title -->
    <div class="row">
      <!-- Section Description -->
      <!-- <div class="col-md-10 col-md-offset-1 padkova" >
          <img src="assets/img/lunch_party.jpg" class="mainImage">
          <br/>
      </div> -->


      <!-- <div class="col-md-10 col-md-offset-1 padkova">
          <p>
             <b>
                  Sedinta demo: Miercuri 22.11.2017
              </b>
          </p>
          <p><b>Ora</b>: 18:30</p>
          <p><b>Durata</b>: 2 ore</p>

          <p><b>Loca&#355;ia</b>: Str. Bucure&#351;ti, nr. 74, et.1, Cluj-Napoca</p>
          <br/>
      </div> -->

      <div class="col-md-10 col-md-offset-1 padkova">
        <p>Bun venit,
        </p>
        <p>
          Bun venit,

          Aceste cursuri s-au înfiinţat ca urmare a cererii din partea firmelor din IT a unor programatori valoroşi, care pot realiza un web site de la început şi până la sfârşit. Datorită acestui lucru, după multe discuţii cu firmele din domeniu, am elaborat o structură a cursurilor folosită pentru învăţarea cât mai rapidă a tehnologiilor necesare în vederea integrării cursanţilor pe piaţa muncii.
        </p>
        <p>
          Cursurile se adresează tuturor celor care îşi doresc o carieră in IT; Experianţa e importantă, dar prin urmarea acestor cursuri, se poate ajunge relativ uşor la succes/performantă chiar pornind de la zero.
        </p>
        <p>
          Am ales partea de full stack developer, care acoperă în totalitate cunoştiintele necesare creării unei aplicaţii, unde se vor prezenta javascript, es6, typescript, node.js ca şi server, iar ca şi front-end se vor prezenta html&css, angular, angular 4, react şi vue. Acestea se asimileaza mult mai repede şi mai uşor comparativ cu Java sau .Net, iar cererea pentru aceste tehnologii este una mare.
        </p>

        <p>
          Obiectivul nostru este ca in decurs de 6 luni de la începerea cursului, fiecare cursant să fie integrat pe piaţa muncii; Aceasta presupune participarea la cursuri şi implicarea la crearea unei aplicaţii care o vom alege împreună. După terminarea cursurilor, cursantul se poate integra într-o echipă, acesta beneficiind în continuare de suport tehnic pentru rezolvarea taskurilor. Pe lângă diploma de la curs, cv-ul, care deja va conţine mai mult decât ceea ce există la rubrica Cursuri, va fi îmbogăţit cu feedbackul nostru şi cursantul va fi sprijinit în vederea găsirii unui loc de muncă.
        </p>
        <!-- <p>
            Prima sedinta este gratuita.
        </p> -->
        <p>
          Vă asteptăm cu drag.
        </p>
        <p>
          <i>Echipa best developer</i>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div id="header-carousel" class="carousel slide carousel-fade header-carousel " data-ride="carousel">
      <!-- Slider Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#header-carousel" data-slide-to="1"></li>
        <li data-target="#header-carousel" data-slide-to="2"></li>
        <li data-target="#header-carousel" data-slide-to="3"></li>
        <li data-target="#header-carousel" data-slide-to="4"></li>
        <li data-target="#header-carousel" data-slide-to="5"></li>
        <li data-target="#header-carousel" data-slide-to="6"></li>
        <li data-target="#header-carousel" data-slide-to="7"></li>
        <li data-target="#header-carousel" data-slide-to="8"></li>
        <li data-target="#header-carousel" data-slide-to="9"></li>
        <li data-target="#header-carousel" data-slide-to="10"></li>
        <li data-target="#header-carousel" data-slide-to="11"></li>
        <li data-target="#header-carousel" data-slide-to="12"></li>
        <li data-target="#header-carousel" data-slide-to="13"></li>
        <li data-target="#header-carousel" data-slide-to="14"></li>
        <li data-target="#header-carousel" data-slide-to="15"></li>
        <li data-target="#header-carousel" data-slide-to="16"></li>
        <li data-target="#header-carousel" data-slide-to="17"></li>
        <li data-target="#header-carousel" data-slide-to="18"></li>
        <li data-target="#header-carousel" data-slide-to="19"></li>
        <li data-target="#header-carousel" data-slide-to="20"></li>
        <li data-target="#header-carousel" data-slide-to="21"></li>
        <li data-target="#header-carousel" data-slide-to="22"></li>
        <li data-target="#header-carousel" data-slide-to="23"></li>
        <li data-target="#header-carousel" data-slide-to="24"></li>
      </ol>
      <div class="carousel-inner">
        <!-- Slider Item (image, link and description for your project in slider) -->
        <div class="item active">
          <img src="assets/img/bd/algoritmica.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/structuri.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/sourcetree.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/git.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/javascript.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/es6.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/server.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/npm.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/node.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/koa_express.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/unit-tests.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/mongo.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/css.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/html5.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/angular-1.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/jasmine.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/automated-tests.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/angular-2.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/react.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/vue.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/mobile.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/docker.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/continuous-integration.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/best-practices.png" alt="" class="forcarousel">
        </div>
        <div class="item">
          <img src="assets/img/bd/support.png" alt="" class="forcarousel">
        </div>
      </div>
      <a class="left carousel-control" href="#header-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#header-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
<div class="container padding-top text-center f16">
  <div class="general-title">
    <h2>Descriere</h2>
    <div class="title-devider"></div>
  </div>



  <div class="col-md-10 col-md-offset-1 padkova">
    <p>
      Abordarea principală este prezentarea unei abordări corelate cu lumea reală; "Spargerea" conceptelor care în teorie sunt abstracte. Acestea vor fi prezentate având o abordare corelată cu situaţii din viaţa de zi cu zi;
    </p>
    <p>
      Memorarea tehnologiilor sau a codului este redusă enorm, iar in schimb ne axăm pe abordarea problemelor, găsirea de soluţii cât mai bune, punerea la dispoziţie a unor librării ajutătoare, învăţarea căutării de soluţii pe internet
    </p>
    <p><br/></p>
  </div>



  <div class="row padding-top col-md-10 col-md-offset-1"></div>
</div>

<app-login></app-login>
